#section_servicios{
    background-color: #ffcccc;
    height: 1650px;
    right: 0px;
    left: 0px;
    top: 0px;
}
#img_inicio_serv{
    background-image: url(../imagenes/img_inicio_serv2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 598px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo_serv{
    /*text-decoration: underline 2px #fff;*/
    color: #b7d0f3;
    text-align: center;
    font-size: 200px;
    -webkit-text-stroke: 0.5px #5d9aef;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Sacramento', cursive;
}

#epigrafe_inicio_serv{
    /*color: #b7d0f3;*/
    color: #649ef0;
    line-height: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 20px;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    -webkit-text-stroke: 0.5px #fff;
}
#info_serv{
    text-align: center;
}
.h1_servv{
    font-size: 75px;
    color: #b7d0f3;
    text-decoration: underline 2px;
    -webkit-text-stroke: 0.5px #000
}
.h2_servv{
    margin-top: 75px;
    font-size: 50px;
    text-decoration: underline 2.5px;
}

.info_servv{
    margin-top: 75px;
    font-size: 30px;
}

/*ADAPTACION A DISPOSITIVOS DE 660 A 1023*/
@media all and (min-width: 660px) and (max-width: 1023px){
    #section_servicios{
        height: 900px;
    }
    #img_inicio_serv{
        background-repeat: no-repeat;
        background-size: 600px;
        height: 385px;
    }
    
    #titulo_serv{
        padding-top: 25px;
    }
    
    #epigrafe_inicio_serv{
        font-size: 20px;
    }
    .h1_servv{
        font-size: 40px;
    }
    .h2_servv{
        font-size: 23px;
    }
    
    .info_servv{
        font-size: 25px;
    }
} /*FIN ADAPTACION 660 - 1023

_____________________________________

ADAPTACION A DISPOSITIVOS HASTA 659*/
@media all and (max-width: 659px){
    #section_servicios{
        height: 900px;
    }
    #img_inicio_serv{
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 263px;
        max-height: 352px;
        background-color: #ffcccc;
    }
    
    #titulo_serv{
        padding-top: 0px;
        font-size: 50px;
        margin-right: 25px;
    }
    
    #epigrafe_inicio_serv{
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #info_serv{
        margin-top: -30px;
    }
    .h1_servv{
        font-size: 35px;
    }
    .h2_servv{
        font-size: 20px;
    }
    
    .info_servv{
        font-size: 25px;
    }
}/*FIN ADAPTACION 659*/