#section_contacto{
    background-color: #ffcccc;
    height: 690px;
}
#img_inicio_contacto{
    background-image: url(../imagenes/img_contacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
}

#titulo_contacto{
    font-size: 50px;
    color: #ffcccc;
    padding-top: 25px;
    margin-left: 25px;
    text-decoration: underline;
}
/*#formulario_contactoss form ul li{
    font-size: 20px;
    display: block;
    padding-top: 25px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}*/

#formulario_consultas{
    width: 550px;
    margin: 100px auto;
}

input, textarea{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

/*ADAPTACION A DISPOSITIVOS DE 660 A 1023*/
@media all and (min-width: 660px) and (max-width: 1023px){
    #section_contacto{
        height: 450px;
    }
    #img_inicio_contacto{
        background-repeat: no-repeat;
        background-size: 600px;
    }
    
    #titulo_contacto{
        font-size: 35px;
        padding-top: 10px;
    }
    #formulario_contactoss form ul li{
        font-size: 18px;
        padding-top: 12px;
    }
} /*FIN ADAPTACION 660 - 1023

_____________________________________

ADAPTACION A DISPOSITIVOS HASTA 659*/
@media all and (max-width: 659px){
    #section_contacto{
        height: 500px;
    }
    #img_inicio_contacto{
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    #titulo_contacto{
        font-size: 30px;
        text-align: center;
    }
    #formulario_contactoss form ul li{
        margin: 0% 100% 0% 0%;
        width: 100%;
    }
}/*FIN ADAPTACION 659*/